:root {
  --blue: #1128ff;
  --red: #d71a1a;
  --gray: #ababab;
  --green: #2ab548;

  --perfect: #fbff32;
  --great: #63e227;
  --good: #3970ff;
  --bad: #6322b7;
  --miss: #ea3535;

  --S: #fbff32;
  --Ap: #ea3535;
  --A: #e56666;
  --B: #78ff57;
  --C: #2e5ff1;
  --D: #180def;
  --F: gray;

  --logo: 24px;
  --primary-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-size: var(--primary-font);
}

body {
  background-color: black;
  color: white;

  width: 100%;
  height: 100vh;
}

button {
  border: 0;
  background-color: transparent;
}

main {
  height: 100%;
}

.perfect {
  color: var(--perfect);
}
.great {
  color: var(--great);
}
.good {
  color: var(--good);
}
.bad {
  color: var(--bad);
}
.miss {
  color: var(--miss);
}

dialog {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  opacity: 0.5;
  background-color: black;
}
