.login-container {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}
.login-wrapper {
  margin: 0 auto;
  width: 450px;
  min-height: 500px;
  background-color: #222222;
  padding: 50px 40px;
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.login-id-wrapper,
.login-password-wrapper {
  display: flex;
  flex-direction: column;
}

.login-id-label,
.login-password-label {
  margin-bottom: 10px;
}

.login-id-input,
.login-password-input {
  width: 280px;
  height: 45px;
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding-left: 10px;
}

.login-btn {
  width: 120px;
  height: 45px;
  background-color: var(--blue);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.signup-page-link {
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.signup-page-link:hover {
  color: #cfcfcf;
}
