.popsong-section {
  width: 100%;
  padding-top: 100px;
}

.popsong-wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.popsong-contents {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
}

.popsong-result {
  display: flex;
  flex-direction: column;
  font-family: var(--font-fat);
  align-items: center;
  margin-top: 20px;
}

.result-header {
  font-size: 2.5rem;
}

.result-grade {
  font-size: 2.5rem;
}

.study-btn {
  background-color: var(--green);
  border: 1px solid #636363;
  box-shadow: 4px 4px 2px #777777;
  font-family: var(--font-fat);
  color: white;
  font-size: 1.25rem;

  width: 137px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
}

.popsong-lyrics {
  width: 450px;
  height: 460px;
  font-size: 1.25rem;
  line-height: 40px;
  white-space: 3%;
  text-align: center;
  overflow: scroll;
}
