.mypage-container {
  width: 300px;
  height: 100vh;
  background-color: #1f1f1f;

  position: fixed;
  top: 0;
  transition: all 1s ease;
  z-index: 2;

  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.open-mypage {
  right: 0;
}

.close-mypage {
  display: none;
}

.mypage-head {
  font-family: var(--font-fat);
  font-size: 1.75rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.close-icon {
  cursor: pointer;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.user-nickname {
  font-size: 1.75rem;
  display: flex;
  justify-content: space-between;

  line-height: 60px;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid #fff;
}

.popsong-total-wrapper {
  font-size: 1.25rem;
  line-height: 30px;
  color: var(--gray);
}

.popsong-total-cnt {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.user-rank-wrapper {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.user-rank-label {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-rank-value {
  font-size: 4rem;
  margin-left: 40px;
  font-family: var(--font-fat);
  color: #fff;

  -webkit-text-stroke: 1px #636363;
  text-shadow: 4px 4px 2px #b1b1b1;
}

.popsonglist-history {
  width: 100%;
  font-size: 1.25rem;
}

.popsonglist-history-label {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.popsonglist-wrapper {
  margin-left: 40px;
  overflow: scroll;
  white-space: nowrap;
}

.popsong-item {
  font-size: 1rem;
  list-style: none;
  line-height: 40px;
  color: var(--gray);
}

.logout-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;

  font-weight: 700;
  color: #d71a1a84;
  cursor: pointer;
}

.logout-btn:hover {
  color: #d71a1adc;
}
